table,td{
    border:1px solid black;
    width: 710px; 
    border-collapse: collapse ;
  }
  h1{
    margin-left: 250px;
    color: blue;
  }
  .register{
    margin-left: 350px;
  }
  .link{
    text-align: right;
  }
  .left{
    text-align: center;
    font-weight: bold;
  }
  input[type="text"]{
    width: 98%;
  }
  textarea{
    width: 97%;
  }
  input[type="password"]{
    width: 98%;
  }
